div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 100%;
  height: 85%;
  background-color: #BFB3A4;
  background-image: url("../../assets/series/ItIs_Okay_to_Not_Be_Okay-Poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.home-divider {
  height: 10px;
}

.left-half {
  flex: 1;
  padding: 5%;
}

div.c {
  width: 40%;
  font-size: 300%;
}

.c p {
  color: #403E3B;
}

.c h1 {
  color:  #A67360;
  background-color: #BF967E;
  padding: 30px;
  border-radius: 50px;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

.nav-spacer {
  flex: 1 1 auto;
}

.nav-title {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.nav-toolbar {
  background-color: #D4736A;
}

#login-button {
  background-color: #D4926A !important;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px 48%;
  border-radius: 50%;
}

.fa-github {
  background: #F3E5CC;
  color: white;
}
