<mat-toolbar class="nav-toolbar">
  <span class="nav-title">Soompi World</span>
  <span class="nav-spacer"></span>
  <button id="login-button" mat-raised-button (click)="openLoginModal()">
    Login
  </button>
</mat-toolbar>
<section class="main-container">
  <div class="left-half">
    <div class="c">
      <h1>Soompi World</h1>
      <p>
        <strong>Where you can know about your korean artist</strong>
      </p>
    </div>
  </div>
</section>
<mat-divider class="home-divider"> </mat-divider>
<a
  href="https://github.com/Evelyn1295/SoompiWorldWeb"
  class="fa fa-github"
  target="_blank"
></a>
